@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: center !important;
    }
}
@media (max-width: 768px) {
    .heading2 {
        font-size: 2rem;
    }
    .heading1 {
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .footer-heading {
        margin-top: 1rem;
        font-size: 1rem;
    }
    .footer-link {
        font-size: 0.8rem;
    }
    .logo-footer {
        margin-bottom: 3rem;
    }
}
@media (max-width: 1199px) {
    section.testimonials .item {
        -webkit-box-shadow: -5.665px 9.429px 25px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -5.665px 9.429px 25px 0px rgba(0, 0, 0, 0.2);
        padding: 60px 40px 40px;
    }
    section.testimonials .item .avatar {
        position: absolute;
        top: 0;
        left: 50%;
}