.parallax {
    min-height: 700px;
    background-image: url("../img/buiten.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    margin-bottom: 0;
}

.logo-trans-container {
    text-align: center;
    margin-top: 80px;
    opacity: 0.7;
}

.scroll-container {
    margin-top: 130px;
}

.navbar-nav > li > a {
    color: #6BC7DC !important;
}

.navbar-nav .active > .nav-link {
    color: #FF4495 !important;
}

.navbar-nav > li {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav > li > a:hover {
    color: #FF4495 !important;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

a:hover {
    color: #FF4495 !important;
    text-decoration: none !important;
}

i {
    padding-right: 10px;
}

.container-fluid {
    background-color: #E0E0E0;
    padding-top: 5px;
    padding-bottom: 10px;
}

.btn-secondary {
    background-color: #E0E0E0 !important;
    color: #000 !important;
}

.btn-secondary:focus {
    box-shadow: none !important;
}

.social-icons-top {
    padding-right: 15px;
}

ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dropdown-menu {
    min-width: 2rem !important;
}

.heading1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #FF4495;
    font-size: 2rem;
}

.heading2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.heading3 {
    color: #FF4495;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.content1 {
    text-align: center;
}

.row-embed {
    width: 829px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fa-angle-down {
    color: #FFF;
    opacity: 0.7;
    padding: 0;
}

.fa-angle-down:hover {
    color: #FFF;
    padding: 0;
    opacity: 1;
}

.fa-smile {
    font-size: 3em;
    opacity: 0.7;
    padding-bottom: 50px;
}

.weatherwidget-io-frame {
    position: relative !important;
}

.quotationmark {
    font-size: 4em;
    color: #FF4495;
}

.main-footer {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background: #E0E0E0;
    color: #fff;
    margin-top: 5rem;
}

.footer-heading {
    margin-bottom: 1.25rem;
    font-weight: 600;
    color: #000000;
}

.copyright {
    margin-top: 3rem;
    color: #000000;
}

.hr1 {
    border: 0;
    height: 1px;
    background: #333;
    opacity: 0.5;
    margin-top: 80px;
}

.vbfavicon {
    opacity: 0.5;
}

.vbfavicon:hover {
    opacity: 1;
}

.col-auto-copyright {
    opacity: 0.5;
}

footer.main-footer ul > li {
    margin-bottom: 1rem;
}

section.testimonials .owl-carousel .owl-stage-outer {
    padding-top: 0px !important;
}

section.testimonials .item-holder {
    padding-right: 40px;
    padding-left: 40px;
}

section.testimonials .quote {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

section.testimonials .item {
    -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0 30px;
    margin-right: 0;
    padding: 70px 50px;
    padding-left: 70px;
}

section.testimonials .item p {
    line-height: 1.8rem;
    font-size: 0.9rem;
    line-height: 1.7rem;
    color: #656565;
}

section.testimonials {
    margin-bottom: 5rem;
}

.instaimg img {
    margin-bottom: 30px;
    width: 360px;
    height: 360px;
}

.instaimg img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #FF4495;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.7;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #FF4495;
    opacity: 1;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.vakantiewoningcarousel {
    margin-top: 5rem;
}

.drone {
    margin-top: 5rem;
}

.heading-carousel-drone {
    text-align: center;
    margin-top: 5rem;
}

.text-carousel-drone {
    text-align: center;
}

.table {
    margin-top: 5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table td, th {
    font-size: 0.9rem;
}

.kosten {
    margin-top: 2rem;
}
.form {
    margin-top: 4rem;
}
.contact-image {
    height: auto;
    float: right;
    max-width: 100%;

}
.contact-gallery {
    height: 380px;
    width:100%;
}
.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}
.slide-box img{
   height: 400px;
    width: 270px;
}