.parallax {
    min-height: 700px;
    background-image: url("../img/buiten.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    margin-bottom: 0;
}
.logo-trans-container {
    text-align: center;
    margin-top: 80px;
    opacity: 0.7;
}
.scroll-container {
    margin-top: 130px;
}
.navbar-nav > li > a {
    color: #6BC7DC !important;
}
.navbar-nav .active > .nav-link {
    color: #FF4495 !important;
}
.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
}
.navbar-nav > li > a:hover {
    color: #FF4495 !important;
}
a {
    color: #000 !important;
    text-decoration: none !important;
}
a:hover {
    color: #FF4495 !important;
    text-decoration: none !important;
}
i {
    padding-right: 10px;
}
.container-fluid {
    background-color: #E0E0E0;
    padding-top: 5px;
    padding-bottom: 10px;
}
.btn-secondary {
    background-color: #E0E0E0 !important;
    color: #000 !important;
}
.btn-secondary:focus {
    box-shadow: none !important;
}
.social-icons-top {
    padding-right: 15px;
}
ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.dropdown-menu {
    min-width: 2rem !important;
}
.heading1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #FF4495;
    font-size: 2rem;
}
.heading2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}
.content1 {
    text-align: center;
}
.row-embed {
    width: 829px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.fa-angle-down {
    color: #FFF;
    opacity: 0.7;
    padding: 0;
}
.fa-angle-down:hover {
    color: #FFF;
    padding: 0;
    opacity: 1;
}
.col-center {
    margin: 0 auto;
    float: none !important;
}
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .item {
    color: #000;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .testimonial {
    padding: 30px 0 10px;
}
.carousel .carousel-control {
    width: 0px;
    height: 0px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel-control i {
    font-size: 30px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.fa-smile {
    font-size: 3em;
    opacity: 0.7;
    padding-bottom: 50px;
}
.weatherwidget-io-frame {
    position: relative!important;
}
.quotationmark {
    font-size: 4em;
    color: #FF4495;
}
.instaimg img {
    margin-bottom:30px;
    width: 350px;
    height: 350px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.instaimg img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}


